<li>
  {{ entry.author }} ({{ entry.year }}). 
  {% if entry.url and entry.url != blank %}
    <a href="{{ entry.url }}" target="_blank" rel="noopener noreferrer">{{ entry.title }}</a>.
  {% else %}
    {{ entry.title }}.
  {% endif %}
</li>
